<div class="parent">
  <p class="heading">Project Details</p>
  <div class="form-body">
    <div class="center row"></div>
  </div>
</div>

<div class="form-body center row">
  <table cellpadding="5">
    <tr>
      <td>Project name</td>
      <td>:</td>
      <td>GE Research</td>
    </tr>

    <tr>
      <td>Project Reference Number</td>
      <td>:</td>
      <td>GE018754</td>
    </tr>

    <tr>
      <td>Organization Name</td>
      <td>:</td>
      <td>IIT Bombay</td>
    </tr>

    <tr>
      <td>Funding Authority</td>
      <td>:</td>
      <td>BMC</td>
    </tr>

    <tr>
      <td>Funding Amount</td>
      <td>:</td>
      <td>86450</td>
    </tr>

    <tr>
      <td>Project Domain</td>
      <td>:</td>
      <td>Healthcare</td>
    </tr>

    <tr>
      <td>Project Criticality</td>
      <td>:</td>
      <td>High</td>
    </tr>
    <tr>
      <td>Project Start Date</td>
      <td>:</td>
      <td>05-05-2021</td>
    </tr>

    <tr>
      <td>Project End Date</td>
      <td>:</td>
      <td>10-10-2023</td>
    </tr>

    <!--tr>
      <td>Next Review Date</td>
      <td>:</td>
      <td>xxxx</td>
    </tr-->

    <tr>
      <td>Project Lead</td>
      <td>:</td>
      <td>Subhash M</td>
    </tr>

    <!--tr>
      <td>Role for this TRL assesment</td>
      <td>:</td>
      <td>xxxx</td>
    </tr-->

    <tr>
      <td>Contact email ID</td>
      <td>:</td>
      <td>subhash.m@iitb.com</td>
    </tr>

    <tr>
      <td>Date of TRL assesment submission</td>
      <td>:</td>
      <td>10-09-2022</td>
    </tr>
  </table>
  <br/>
  <button class="button1" (click)="routeToAssessmentReviewPage()">View Submitted Assessment</button>
</div>
