<div class="parent">
  <p class="heading">Project Details</p>
  <div class="form-body">
    <div class="center row"></div>
  </div>
</div>

<div class="form-body center row">
  <table>
    <tr>
      <td>Project name</td>
      <td>:</td>
      <td>GE Research</td>
    </tr>

    <tr>
      <td>Project Reference Number</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Organization Name</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Funding Authority</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Funding Amount</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Project Domain</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Project Criticality</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>
    <tr>
      <td>Project Start Date</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Project End Date</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Next Review Date</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Project Lead</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Role for this TRL assesment</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Contact email ID</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>

    <tr>
      <td>Date of TRL assesment</td>
      <td>:</td>
      <td>xxxx</td>
    </tr>
  </table>
</div>
