<div class="">
    <div class="header_border">
        <h2 class="text-white">View submitted assessments</h2>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th >Assement ID</th>
            <th >Project Name </th>
            <th >Orgination Criticality</th>
            <th >Project Start Date</th>
            <th >Project End Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td >TRL002</td>
            <td>PROJECT@XXXX</td>
            <td>HIGH</td>
            <td>01 JAN 2022</td>
            <td>14 DEC 2022</td>
          </tr>
          <tr>
            <td >TRL022</td>
            <td>PROJECT@YYYY</td>
            <td>MEDIUM</td>
            <td>02 FEB 2022</td>
            <td>30 JAN 2023</td>
          </tr>
          <tr>
            <td>TRL033</td>
            <td>PROJECT@AAAA</td>
            <td>MEDIUM</td>
            <td>13 MAR 2022</td>
            <td>15 SEP 2023</td>
          </tr>
          <tr>
            <td>TRL053</td>
            <td>PROJECT@BBBB</td>
            <td>HIGH</td>
            <td>23 SEP 2022</td>
            <td>15 JAN 2024</td>
          </tr>
          <tr>
            <th >TRL233</th>
            <td>PROJECT@CCCCC</td>
            <td>MEDIUM</td>
            <td>12 OCT 2022</td>
            <td>15 JULY 2023</td>
          </tr>
        </tbody>
      </table>
</div>