<div class="p_30">
    <div class="row">
        <div class="col-md-3 center">
            <p>Project Name: <span class="f_100">xxxxx</span></p>
            <p>Project Number: <span class="f_100">xxxxx</span></p>
            <p>Funding Authority: <span class="f_100">xxxxx</span></p>
            <p>Funding amount: <span class="f_100">xxxxx</span></p>
        </div>
        <div class="col-md-2 center p_14">
            <p>Project Leader: <span class="f_100">xxxxx</span></p>
            <p>Current Assessor: <span class="f_100">xxxxx</span></p>
            <p>Assessment Date: <span class="f_100">xxxxx</span> </p>
        </div>
    </div>
    <div class="mt-8 col-md-10 center">
        <p ><span class="f-22 ">CONGRATULATIONS !</span> <span class="f-18"> Based on your answer to the questions, the "XXXX" project is deemed to have crossed the TRL X.</span></p>
        <div class="mt-4 f-14">
            <img src="assets/green.png" alt="">&nbsp; <label>Some key proces and safety requirements are identified.</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Predictions of elements of technology capablity validated by analytical studies.</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Laboratory experiments verfy feasiblity of application.</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Risk areas identified in general term.</label>
        </div>
    </div>
    <div class="mt-8 col-md-10 center">
        <p class="f-18">However, the following elements should also be addressed before your next review for sucessfull transition of program into the next stages. A large number of unfinished "Yellow Tags" tasks could also impact the next TRL assessment & project continuity.</p>
        <div class="mt-4 f-14">
            <img src="assets/yello.png" alt="">&nbsp; <label>Customer representative identified to work with development team.</label>
        </div><div class="f-14">
            <img src="assets/yello.png" alt="">&nbsp; <label>Customer participate in requirements generation.</label>
        </div><div class="f-14">
            <img src="assets/yello.png" alt="">&nbsp; <label>Cross technology effects (if any) have begun to be identified.</label>
        </div>
    </div>
</div>