<div class="p_30">
    <h4>Pre Final Assessment Report</h4>
    <div class="row">
        <div class="col-md-3 center">
            <p>Project Name: <span class="f_100">xxxxx</span></p>
            <p>Project Number: <span class="f_100">xxxxx</span></p>
            <p>Funding Authority: <span class="f_100">xxxxx</span></p>
            <p>Funding amount: <span class="f_100">xxxxx</span></p>
        </div>
        <div class="col-md-2 center p_14">
            <p>Project Leader: <span class="f_100">xxxxx</span></p>
            <p>Current Assessor: <span class="f_100">xxxxx</span></p>
            <p>Assessment Date: <span class="f_100">xxxxx</span> </p>
        </div>
    </div>
    <div class="mt-8 col-md-10 center">
        <p ><span class="f-18">Based on your answer to the questions, the "XXXX" project is deemed not to have crossed the TRL 1.</span></p>
        <p class="f-18"> However you have partially achieved the below criterias</p>
        <div class="mt-4 f-14">
            <img src="assets/green.png" alt="">&nbsp; <label>Paper studies confirm basic principles .</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Have an idea that captures the basic principles of a possible algorithm.</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Basic scientific principles observed.</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Know who cares about technology, e.g., sponsor, money source.</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Research hypothesis formulated.</label>
        </div>
        <div class="f-14">
            <img src="assets/green.png" alt=""> &nbsp;<label>Know who will perform research and where it will be done.</label>
        </div>
    </div>
    <div class="mt-8 col-md-10 center">
        <p class="f-18">If you aditionally satisfy below criteria, you will cross TRL 1.</p>
        <div class="mt-4 f-14">
            <img src="assets/red.png" alt="">&nbsp; <label>Physical laws and assumptions used in new technologies defined.</label>
        </div>
        <div class="f-14">
            <img src="assets/red.png" alt="">&nbsp; <label>Initial scientific observations reported in journals/conference proceedings/technical reports.</label>
        </div>
    </div>
    <div class="mt-8 col-md-10 center">
        <p class="f-18">the following elements should also be addressed before your next review for sucessfull transition of program into the next stages. A large number of unfinished "Yellow Tags" tasks could also impact the nextTRL assessment & project continuity.</p>
        <div class="mt-4 f-14">
            <img src="assets/yello.png" alt="">&nbsp; <label>Have some concept in mind that may be realizable in software.</label>
        </div>
        <div class="f-14">
            <img src="assets/yello.png" alt="">&nbsp; <label>Know what software needs to do in general terms.</label>
        </div>
        <div class="f-14">
            <img src="assets/yello.png" alt="">&nbsp; <label> Mathematical formulations of concepts that might be realizable in software.</label>
        </div>
        <div class="f-14">
            <img src="assets/yello.png" alt="">&nbsp; <label>"Back of envelope" environment.</label>
        </div>
    </div>
    <div class="mt-8 col-md-10 center">
        <p><b>Final report will be available once review is done</b></p>
    </div>
    <button class="button1">Download</button>
    <button class="button1" (click)="goToHome()">Home</button>
</div>