.p_30{
    padding: 30px 
}
p{
    margin: 0px !important;
}
.f_100{
    font-weight: 100;
}
.p_14{
    padding: 14px ;
}
.center{
    display: block;
    margin: auto;
}
.mt-8{
    margin-top: 40px;
}
.f-14{
    font-size: 14px;
}
.f-22{
    font-size: 22px;
}
.f-18{
    font-size: 18px 
}
.button1{
    color: #ffffff;
      margin-top: 20px;
      border: none;
      border-radius: 28px;
      background: #355E93;
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
  }